body {
    background-color: rgb(241, 247, 235);
}

#page-header {
    display: flex;
    justify-content: center;
}

#form {
    background-color: rgb(224, 236, 253);
    border-radius: 8px;
}

.row {
    justify-content: center;
    display: flex;
}