body {
  background-color: rgb(241, 247, 235);
}

#page-header {
  display: flex;
  justify-content: center;
}

#form {
  background-color: rgb(224, 236, 253);
  border-radius: 8px;
  width: 22rem;
  box-shadow: 0.2rem 0.2rem 1rem rgb(182, 186, 190);
}

.row {
  justify-content: center;
  display: flex;
}

button {
  border-radius: 6px !important;
}

.primary-btn {
  background-color: rgb(143, 143, 143) !important;
}

.secondary-btn {
  background-color: rgb(143, 143, 143) !important;
}

.material-icons {
  color: rgb(102, 102, 102) !important;
}
